

 img {
  width: 100%;
 }


  row{
     padding: 0;
  }


.left{
height: 90vh;
padding: 0;
}

.right{
margin: auto;
height: 90vh;
background: #ffffff;
padding: 0;
}


.login-form{
margin-top: 10%;
margin-left: auto;
margin-right: auto;
min-height:250px;
width: 250px;
background: #ffffff;
padding-bottom: 10px;
border: 1px solid wheat;
}

.input{
width: 90%;
height: 20px;
border-radius: 2px;
margin-top: 7%;
margin-left: 7px;
margin-right: 5px;
align-self: center;
}


.iconStyle{
   height: 30px;
   background: #3d1fc4;
}

.formStyle{
    width: 250px;
}



/*Login CSS styles*/

/* 'Open Sans' font from Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  background: #ffffff;
  font-family: 'Poppins';
}

.login {
  width: 280px;
  margin: 16px auto;
  font-size: 14px;
  
}

.one-edge-shadow {
    box-shadow: 2px 8px 6px -6px black;
  }

/* Reset top and bottom margins from certain elements */
.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

/* The triangle form is achieved by a CSS hack */
.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color:#339fe7;
}

.login-header {
  background: #339fe7;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.login-container {
  background: #ebebeb;
  padding: 12px;
}

/* Every row inside .login-container is defined with p tags */
.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  color: #555;
  font-family: 'poppins';
  font-Size: 20px
}

.login input[type="email"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
  
}

/* Text fields' focus effect */
.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888;

}

.login input[type="submit"] {
  background: #339fe7;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: #bbdcf1 20%;
}

/* Buttons' focus effect */
.login input[type="submit"]:focus {
  border-color: #05a;
}


/*Carousel Css*/

h2{
    margin: 0;     
    color: #666;
    padding-top: 90px;
    font-size: 52px;
    font-family: "trebuchet ms", sans-serif;    
}

.item{
    background: #ffffff;    
    text-align: center;
    height: 90vh !important;
    width:100%;
}

/* .carousel{
    margin-top: 20px;
} */

/* .bs-example{
	margin-top: 60px;
} */

.carousel.carousel-fade .item {
  opacity:0;
  filter: alpha(opacity=0); /* ie fix */
}

.carousel.carousel-fade .active.item {
    opacity:1;
    filter: alpha(opacity=100); /* ie fix */
}


.logologin{
  height:100px;
  width:110px;
  
}
