.divStyle{
    margin-bottom: 5px;
    width: 300px;
    box-shadow: 3px;
    border: 0px solid rgb(3, 3, 3);
    border-collapse: collapse;
    -webkit-box-shadow: 1px 1px 1px 1px rgb(0, 0, 0);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    1px 1px 1px 1px rgb(0, 0, 0);  /* Firefox 3.5 - 3.6 */
    box-shadow:         1px 1px 1px 1px rgb(0, 0, 0);
    background: #fffafa;
    padding: 5px
}