

box{
    box-sizing: border-box;
}

.column {
    float: left;
    width: 35%;
    padding: 0 5px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {padding:0;
    justify-content: center
}

.cardtilesOverview{
    margin-top: 2%;
    
}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    min-height: 250px;
    
  }

  .overviewHeader{
    color: #339fe7  ;
   font-weight: 800;
   font-size: 20px;
   font-family: 'poppins';
  
}

.overviewinfo{
  color: #000000 ;
 font-weight: 800;
 font-size: 15px;
 font-family: 'Poppins';

}

.overviewsubText{
  color: #000000 ;
 font-weight: 600;
 font-size: 15px;
 font-family: 'Poppins';

}

.iconistyle{   
  color:rgb(54, 54, 56);
}

