

box{
    box-sizing: border-box;
}

.column {
    float: left;
    width: 25%;
    padding: 0 5px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {padding:0;
    justify-content: center
}

.cardtiles{
    margin-top: 10%;
}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }
  

  .iconlogo{
    height:170px;
    width:190px;
  }