@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 1px solid #000;
  border-right: none;
  padding: 5px;
  height: 45px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #000000;
  font-family: 'Poppins';
  font-size: 18px;
  letter-spacing: 2ch;
  text-align: center;
  
}

.searchTerm:focus{
  color: #464646;
 
}

.searchButton {
  width: 50px;
  height: 45px;
  border: 1px solid  #fec005;
  background:  #fec005;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
 
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 70%;
  position: absolute;
  left: 54%;
  transform: translate(-50%, -50%);
  margin-top: 30%;
  
}


  /* Style the cards */
  .teaser-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #f1f1f1;
    margin-top:4%;
    height: 70vh;
  }


.headerStyle{
  font-family: 'Poppins';
  font-weight: 800;
  font-size: 25px

}
.teaserStyle{
  
  font-family: 'Poppins';
  color: #000000;
  font-size: 16px;
  float: left;
  margin-left: 25%;
  padding-top: 8px
}

.teaserText{

  font-family: 'Poppins';
  color: #000000;
  font-size: 15px;
  float: right;
  margin-right: 25%;
  padding-top: 8px;
  text-align: center;
}



.inTeaserApp-logo {
  animation: App-logo-spin infinite 10s linear;
  height:30px;
  width:30px;


}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
