

.navi{
height: 50px;
background: #ffffff;
opacity:0.8;
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
padding-bottom: 10px;
margin-bottom: 10px;
}

.linkk{
text-decoration: none;
padding:8px 8px 8px 8px;
margin-top:5px
}

.kk{
color: #000000;
}

.btStyle{
margin-left: 40px;
cursor: pointer;
text-decoration: none;

}

.btStyle:hover{
  background-color: #fec005;
    color: #339fe7; 
    padding: 5px;
    border-radius: 1px;
    text-decoration: none;
    cursor: pointer;

 
}

.logo-style{
  
  width: 50px;
  height:40px;
  margin-top: 5px;
  margin-left: 15px;
}

a {
   color:  rgb(3, 3, 3);
}