

#buttons2{height:100px;
    background:#339fe7;
    width: 100%;
}
#buttons2 > p {width:33.33%;
    float:left;
    color:white;
    text-align:center;
    padding-top:25px;
    height:100%;
    margin:0;}

#buttons2 > p:hover{
    background:#dee8eb;
    color:rgb(248, 181, 12) ;
    font-weight: bolder;
    cursor:pointer;
}

#layoutmargin{
    margin-top:5%;
}

#packageHeader{
    color: #339fe7  ;
   font-weight: 800;
   font-size: 40px;
   font-family: 'Open Sans', sans-serif;
   font-family: 'Fjalla One', sans-serif;
}

#packagetype{
    color: #339fe7  ;
   font-weight: 800;
   font-size: 33px;
   font-family: 'Open Sans', sans-serif;
   font-family: 'Fjalla One', sans-serif;
}

#priceheader{
    font-family: 'Open Sans', sans-serif;
   font-family: 'Fjalla One', sans-serif;
   font-weight: 800;
   font-size: 30px;
   color: #339fe7;
}



.priceline{
    display: block;
    height:1px;
    border: 0;
    border-top: 1px solid  #339fe7;
    padding: 0; 
    color :#339fe7 ;
     
}

.pricecard{
    background: #ffffff;
}

.pricecard:hover{

    background:#bbdefb;
    color:#000000;
    font-weight: bolder;
    cursor:pointer;
}


#packagehead{
    font-family: 'Fjalla One', sans-serif;
    font-size: 30px;
  
  }

  .text-txt{
    text-align: justify;
    text-justify: inter-word;
  }
  