@import url('https://fonts.googleapis.com/css?family=Ubuntu:500&subset=latin,cyrillic');

/*--- GENERAL ---*/
/* body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 100%;
  line-height: 1.45;
  color: #333;
} */

/* a {
  text-decoration: none;
  color: #111;
} */

.pin {
  text-indent: 20px;
  text-align: justify;
}

.button {
  width: 150px;
  height: 25px;
  margin: 5px 0 5px 0;
  color: #fff;
  background: rgba(71, 73, 77, 1);
  border: none;
  font-size: 14px;
  outline: none;
  border-radius: 5px;
}

.button:hover {
  background: rgba(71, 73, 77, 0.8);
}

.button:active {
  margin: 6px inherit 4px inherit;
  background: rgba(71, 73, 77, 0.8);
}

/*--- /GENERAL ---*/

#profile-edit-save {
  box-sizing:border-box;
  width:500px;
  margin:0 auto;
  padding:10px;
  border-bottom:1px solid rgba(84,183,222,0.5);
  background-color:rgba(84,183,222,0.3);
}

#editSave {
  display:block;
  margin: 0 auto;
  border:none;
  border-radius:5px;
  padding:10px 20px;
  background-color:#2699c7;
  color:#fff;
  font-size:14px;
  outline: none;
}

#profile-edit-area {
  width:600px;
  margin: 0 auto;
}

#edit-area-left, #edit-area-right {
  box-sizing:border-box;
}

#edit-area-left {
  width:300px;
  margin:0;
  float:left;
}

#edit-area-right {
  width:300px;
  margin-left:310px;
}
#profile-edit-area {
  margin: 50px auto 10px;
}

#profile-edit-area table {
  margin: 0 auto 10px;
  vertical-align:top;
}

#profile-edit-area table tr {
  vertical-align:top;
}

.edit-title {
  padding-top:15px;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 15px
}

.profileInputBox {
	width:200px;
  	height:auto;
  	margin:10px;
  	padding:10px;
  	border:none;
  	border-radius:10px;
  	box-shadow: 0 0 5px rgba(0,0,0,0.5);
  	background-color:rgb(255, 255, 255);
  	font-size:16px;
  	color:rgb(63, 63, 63);
  	outline: none;
}

#edit-area-right textarea {
  height:190px;
  resize:none;
}



p input[type="submit"]:focus {
    border-color: #05a;
  }


p input[type="submit"] {
    background: #339fe7;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
  }
  
  p input[type="submit"]:hover {
    background: #bbdcf1 20%;
  }

  p input {
    box-sizing: border-box;
    display: block;
    width: 50%;
    border-width: 1px;
    border-style: solid;
    padding: 16px;
    outline: 0;
    font-family: inherit;   
    font-size: 0.95em;
   
  }

  .left-margin{
    margin-left: 28%;
  }