

@keyframes 
colorchange{
  0%{ color: greenyellow;}
  10%{ color: #8e44ad;}
  20%{ color: #1abc9c;}
  30%{ color: #d35400;}
  40%{ color: blue;}
  50%{ color: #3449fe;}
  60%{ color: blue;}
  70%{ color:#2980b9;}
  80%{ color: goldenrod;}
  90%{ color: #2980b9;}
  100%{ color: pink;}



}


p > h9:hover{
    background:gold;
    color:#2c3e50;
    cursor:pointer;
}


