body {
  
    font-family: 'Poppins';
  }
  
  .password {
    width: 280px;
    margin: 16px auto;
    font-size: 14px;
    
  }
  
  .one-edge-shadow {
      box-shadow: 2px 8px 6px -6px black;
    }
  
  /* Reset top and bottom margins from certain elements */
  .password-header,
  .password p {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  /* The triangle form is achieved by a CSS hack */
  .password-triangle {
    width: 0;
    margin-right: auto;
    margin-left: auto;
    border: 12px solid transparent;
    border-bottom-color:#339fe7;
  }
  
  .password-header {
    background: #339fe7;
    padding: 20px;
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
  }
  
  .password-container {
    background: #ebebeb;
    padding: 12px;
  }
  
  /* Every row inside .login-container is defined with p tags */
  .password p {
    padding: 12px;
  }
  
  .password input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    padding: 16px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;
  }
  
  .password input[type="email"],
  .password input[type="password"] {
    background: #fff;
    border-color: #bbb;
    color: #555;
  }
  
  /* Text fields' focus effect */
  .password input[type="email"]:focus,
  .password input[type="password"]:focus {
    border-color: #888;
  }
  
  .password input[type="submit"] {
    background: #339fe7;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
  }
  
  .password input[type="submit"]:hover {
    background: #bbdcf1 20%;
  }
  
  /* Buttons' focus effect */
  .password input[type="submit"]:focus {
    border-color: #05a;
  }
  