

#floatformRight{

    padding-left:70px;
  }
  
  .verticalLine {
    border-left: thick solid #000000;
    height:400px;
  }
  
  #contactlayout{
   
    width: 100%;
  }
  
  .map-responsive{
    overflow:hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  
  .map-responsive iframe{
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
  